{% extends '../layouts/base.html' %}


{% block content %}

<form method="post">
    <div class="form-header">
        <h3>Iniciar Sesion</h3>
    </div>

    <div class="form-body">
        {% csrf_token %}
        <div class="form-control">
            {{form.email}}
        </div>
        <div class="form-control">
            {{form.password}}
            {{form.errors.password}}
        </div>
        <div class="form-actions">
            <button type="submit">Ingresar</button>
        </div>
    </div>
    <div class="form-footer">
        {{form.non_field.errors}}
    </div>
</form>
    
{% endblock content %}
    